.App {
  background-color: black;
  color: white;
}
[type="checkbox"]{
    width: 0;
    height: 0;
  }

  .css-19l5h75-MuiSlider-markLabel {
    color: white !important;
  }

  .css-xxsb21-MuiSlider-markLabel {
    color: white !important;
  }
